<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>All jobs</title>
</head>

<body>

  <table class="table jobTable">
    <thead class="thead">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Device Type</th>
        <th scope="col">Device</th>
        <th scope="col">Problem</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% for(var i=0; i < jobList.length; i++ ){ %>
      <tr></tr>
      <td>
        <%= jobList[i].name %>
      </td>
      <td>
        <%= jobList[i].phone %>
      </td>
      <td>
        <%= jobList[i].deviceType %>
      </td>
      <td>
        <%= jobList[i].device %>
      </td>
      <td>
        <%= jobList[i].problem %>
      </td>
      <td>
        <%= jobList[i].location %>
      </td>
      </tr>
      <% } %>

    </tbody>
  </table>
</body>

</html>