<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
  <!--   <% technicianList.forEach(user => { %>
       <p>Name:  <%= user.name %></p> 
       <p>Email: <%= user.email %> </p>
       <p>Skill: <%= user.skill %> </p>
       <p>Phone: <%= user.phone %> </p>
       <br>
       <br>
    <% }) %>  -->

    <table class="table technicianTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Skill</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% for(var i=0; i < technicianList.length; i++ ){ %>
              <tr></tr>
              <td> <%= technicianList[i].name %></td>
              <td> <%= technicianList[i].email %></td>
              <td> <%= technicianList[i].phone %></td>
              <td> <%= technicianList[i].skill %></td>
            </tr>
              <% } %>
        
        </tbody>
      </table>


</body>
</html>