<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Home page</title>
</head>
<body>
  <div class =" div title01">
    <br>
    <h2><i class="fab">WELCOME TO KAAJ.COM </i></h2>
  </div>
  <br>
 
 
  <div>
        <% for(var i=jobList.length - 1; i >= 0; i-- ){ %>
          
          <p> Name: <%= jobList[i].name %></p>
          <p> Phone: <%= jobList[i].phone %></p>
          <p> Device Type: <%= jobList[i].deviceType %></>
          <p>Device: <%= jobList[i].device %></p>
          <p>Problem: <%= jobList[i].problem %></p>
          <p>Location: <%= jobList[i].location %></p>
          <br>
          <% } %>
        </div>
</body>
</html>


 
